<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/UserStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
       <div class="page">

        <div id="header">
            <div id="title">
                <h1>Название Блога</h1>
            </div>
              
            <div id="logindisplay">
                <div class="button_blue"><input type="button" value="Войти" onclick="location.href='../Account/LogOn.html'" /></div>
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                                    
                </ul>
            
            </div>
        </div>
	
<div id="main">	

    <a href="../Home/Index.html">Страница анонсов</a><b>->Настройки</b>
    <fieldset>
    <legend>Настройки</legend>
        <form name="user">
		изображение блога: </br></br>
            <div class="button_gray">
				
                <input type=file value="добавить" />
                <input type=submit value="оправить" />
			</div></br>
		Название блога: </br></br>
		
		<textarea name="blogname" cols="50" rows="1"></textarea>
		
		</br></br>
		
		<input type="checkbox" checked>Включить\отключить комментарии

			
            <div align=center>
                <div class=button_blue>
                    <input type="submit" value="Сохранить" />
                </div>
            </div>
        </form>
    </fieldset>
	
<div id="footer">
             © Название блога, 2012. Все права защищены.<br />
			 Проект процветает уже 5 дней.<br />
			 Разработка и техническая поддержка ресурса — ...<br />
            </div>
        </div>
        
    </div>
</body>
