<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/UserStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
       <div class="page">

        <div id="header">
            <div id="title">
                <h1><a href="../Home/Index.html">Название Блога</a></h1>
            </div>
              
            <div id="logindisplay">
                <a href="../Account/LogOn.html">Вход-></a>
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                                    
                </ul>
            
            </div>
        </div>
	
<div id="main">	
    <h2>Главная</h2>
    
    <a href="../Post/NewPost.html">
              <img src="../../Content/add_item.gif" alt="добавить пост" style="border:0px"/>
    </a><br />
       <div id="wrapper">

  <div id="container">

    <div id="content">
      <div id="text">
                 12.01 19:33

                <input type="image" src="../../Content/del.gif" style="float:right; width:15px; height:16px; border:0px;"/>
                <input type="image" src="../../Content/kedit_6179.png" style=" float:right; width:15px; height:16px; border:0px;" />

      <a href="../Post/Post.html"><h3>Пол Маккартни написал письмо в поддержку Pussy Riot</h3>
      <img src="../../Content/picture--240.jpg" /></a><br />  
	  <p align="justify">
Пол Маккартни написал письмо в поддержку арестованных участниц группы Pussy Riot. 
"Я надеюсь, что вы останетесь сильными и уверен, что я, так же как и многие другие люди,
 которые, как и я, верят в свободу слова, сделают все возможное для того, чтобы поддержать 
 вас и принцип свободы творчества", - говорится в послании.
	  </p>
	  
	  12.02 19:39
				<input type="image" src="../../Content/del.gif" style="float:right; width:15px; height:16px; border:0px;"/>
                <input type="image" src="../../Content/kedit_6179.png" style=" float:right; width:15px; height:16px; border:0px;" />
	  <h3>Windows 8 обвалила акции Dell</h3>
	  <img src="../../Content/Images/picturesmall.jpg" width="240px" height="180px"/>
	  <p align="justify">
Акции американского производителя компьютеров Dell упали на 6,5 процента в первый час торгов на бирже NASDAQ. Падение связано с тем, что шесть крупных инвесткомпаний снизили ожидания по поводу стоимости бумаг компании. Dell несет потери из-за грядущего выхода ОС Windows 8 и конкуренции с Lenovo и Acer.
	</p>
      </div>
    </div>

    <div id="left">
       <a href="../Post/NewPost.html">Новый пост</a><br />
        <a href="../Post/Post.html">Пост для гостей</a><br />
        <a href="../Post/UserPost.html">Пост для админа</a><br />
        <a href="../User/HomeUser.html">Главная для админа</a><br />
        <a href="../User/User.html">Профиль</a><br />
	</div>

    <div id="right">
        <img src="../../Content/10b002a7e95b026c55b25e3f697eef6d.jpg" alt="avatar" height=80 width=80 /><br />
        <a href="../User/User.html">Редактировать профайл</a>
        Владимир Поповкин <br />
        555555<br />
		</div>

    <div class="clear"></div>
  </div>
</div>   

<div id="footer">
             © Название блога, 2012. Все права защищены.<br />
			 Проект процветает уже 5 дней.<br />
			 Разработка и техническая поддержка ресурса — ...<br />
            </div>
        </div>
        
    </div>
</body>
