<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/UserStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
       <div class="page">

        <div id="header">
            <div id="title">
                <h1><a href="../Home/Index.html">Название Блога</a></h1>
            </div>
              
            <div id="logindisplay">
                <a href="../Account/LogOn.html">Вход-></a>
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                                    
                </ul>
            
            </div>
        </div>
	
<div id="main">	

    <a href="../Home/Index.html">Главная</a><b>->Профиль</b>
    <fieldset>
    <legend><h2>Профиль</h2></legend>
        <form name="user">
			<p align="center"><img src="../../Content/10b002a7e95b026c55b25e3f697eef6d.jpg" alt="avatar" height=100 width=100 /><br /></p>
            <div class="button_gray">
                <input type=file value="добавить" />
                <input type=submit value="оправить" />
            </div>изменение аватарки(временно не работает)<br />
            19.01.1984  <br />

            <div class="editor-label">
                Телефон
            </div>            
            <input type=text />

            <div class="editor-label">
                Ваш Email
            </div>
            <input type="text" value="test@mail.ru" /><br />
            
            <div class="editor-label">
                Пароль
            </div>
		

            <input type=password /><br />
            <input type=password /><br />
            введите пароль еще раз<br /> 
<br />
			<div class="editor-label">
                Личные комментарии
            </div>
			
            <div align=center>
                <div class=button_blue>
                    <input type="submit" value="Сохранить" />
                </div>
            </div>
        </form>
    </fieldset>
	
<div id="footer">
             © Название блога, 2012. Все права защищены.<br />
			 Проект процветает уже 5 дней.<br />
			 Разработка и техническая поддержка ресурса — ...<br />
            </div>
        </div>
        
    </div>
</body>
