<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/UserStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
       <div class="page">

        <div id="header">
            <div id="title">
                <h1><a href="../Home/Index.html">Название Блога</a></h1>
            </div>
              
            <div id="logindisplay">
                <a href="../Account/LogOn.html">Вход-></a>
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                                    
                </ul>
            
            </div>
        </div>
		
	<div id="main">
    <h2>Новый пост</h2>

           <div id="wrapper">

  <div id="container">

    <div id="content">
      <div id="text">
            
          <b>Заголовок:</b><br/>
          <input type="text" name="titlePost" size="40" /><br />
          <b>Пост:</b><br/>
          <textarea name="post" cols="50" rows="10"></textarea>

      </div>
    </div>

    <div id="left">
        <a href="../Post/NewPost.html">Новый пост</a><br />
        <a href="../Post/Post.html">Пост для гостей</a><br />
        <a href="../Post/UserPost.html">Пост для админа</a><br />
        <a href="../User/HomeUser.html">Главная для админа</a><br />
        <a href="../User/User.html">Профиль</a><br />
	</div>

    <div id="right">
        <img src="../../Content/10b002a7e95b026c55b25e3f697eef6d.jpg" alt="avatar" height=80 width=80 /><br />
        <a href="../User/User.html">Редактировать профайл</a>
        Владимир Поповкин <br />
        555555<br />
		</div>

    <div class="clear"></div>
  </div>
</div>   

<div id="footer">
             © Название блога, 2012. Все права защищены.<br />
			 Проект процветает уже 5 дней.<br />
			 Разработка и техническая поддержка ресурса — ...<br />
            </div>
        </div>
    </div>
</body>
