<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/UserStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
       <div class="page">

        <div id="header">
            <div id="title">
                <h1>Название Блога</h1>
            </div>
              
            <div id="logindisplay">
				
                <div class="button_blue"><input type="button" value="Войти" onclick="location.href='../Account/LogOn.html'" /></div>
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                                    
                </ul>
            
            </div>
        </div>
	
<div id="main">	

    <a href="../Home/Index.html">Страница анонсов</a>-><b>Log On</b>
	<h2></h2>
    <p>
        Please enter your username and password. <a href="../Account/Register.html">Register</a> if you don't have an account.
    </p>

    
        <div>
            <fieldset>
                <legend>Account Information</legend>
                
                <div class="editor-label">
                    User name
                </div>
                <div class="editor-field">
                    <input type="text" >
                </div>
                
                <div class="editor-label">
                    Password
                </div>
                <div class="editor-field">
                    <input type="text" >
                </div>
                
                <div class="editor-label">
                    <input type="checkbox">Remember me?
                </div>
                
				<div align="center"> 
                    <div class=button_blue><input type="submit" value="Log On" /></div>
				</div>
            </fieldset>
        </div>

<div id="footer">
             © Название блога, 2012. Все права защищены.<br />
			 Проект процветает уже 5 дней.<br />
			 Разработка и техническая поддержка ресурса — ...<br />
            </div>
        </div>
        
    </div>
</body>
