<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/UserStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
       <div class="page">

        <div id="header">
            <div id="title">
                <h1>Название Блога</h1>
            </div>
              
            <div id="logindisplay">
                <div class="button_blue"><input type="button" value="Войти" onclick="location.href='../Account/LogOn.html'" /></div>
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                                    
                </ul>
            
            </div>
        </div>
	
<div id="main">	
    <a href="../Home/Index.html">Страница анонсов</a>-><a href="../Account/LogOn.html">Log On</a>-><b>Создание аккаунта</b>
	<h2></h2>
    <p>
        Введите всю необходимую информацию.
    </p>

    
        <div>
            <fieldset>
                <legend>Account Information</legend>
                
                <div class="editor-label">
                    User name
                </div>
                <div class="editor-field">
                    <input type="text" >
                </div>
                
                <div class="editor-label">
                    Email
                </div>
                <div class="editor-field">
                    <input type="text" >
                </div>
                
                <div class="editor-label">
                    Password
                </div>
                <div class="editor-field">
                    <input type="password" >
                </div>
                <div style="font-size:8px;">Длина пароля должна быть не меньше  6 знаков.</div>
                
                <div class="editor-label">
                    ConfirmPassword
                </div>
                <div class="editor-field">
                    <input type="password" >
                </div>
                
                <p>
                <div align=center>
                    <div class=button_blue> 
                        <input type="submit" value="Register" /> 
                    </div> 
                </div>
                </p>
            </fieldset>
        </div>
		
<div id="footer">
			 © Название блога, 2012. Все права защищены.<br />
			 Проект процветает уже 5 дней.<br />
			 Разработка и техническая поддержка ресурса — ...<br />
            </div>
        </div>
        
    </div>
</body>
